@import "colors.css";

* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font Propo", "Material Icons";
  font-weight: 900;
}

window#waybar {
  background: transparent;
  color: alpha(@on_surface, 0.8);
  font-size: 12px;
}

.modules-center {
  margin: 10px 0 0 0;
  padding: 8px;
  border-radius: 6px;
  background: alpha(@background, 0.7);
  border: 1px solid alpha(@outline_variant, 0.6);
}

#workspaces,
#window,
#custom-mpris,
#cava,
#clock,
#pulseaudio,
#backlight,
#cpu,
#memory,
#temperature,
#battery,
#network {
  background: alpha(@surface_container_high, 0.4);
  border: 1px solid alpha(@outline_variant, 1);
  margin: 0 1px;
  padding: 2px 10px;
  border-radius: 4px;
  color: alpha(@on_surface, 0.8);

  transition: all 0.3s;
}

/* #workspaces:hover, */
#window:hover,
#custom-mpris:hover,
#cava:hover,
#clock:hover,
#pulseaudio:hover,
#backlight:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#battery:hover,
#network:hover {
  background: @primary_container;
  color: @on_primary_container;
}

#workspaces {
  min-width: 100px;
  padding: 8px 4px;
  font-size: 0.2rem;
}

#workspaces button {
  background: alpha(@primary, 0.4);
  color: @on_primary;
  border: none;
  border-radius: 1px;

  padding: 0px 8px;
  margin: 0px 2px;

  min-width: 8px;
  transition: all 0.3s;
}

#workspaces button:not(.empty) {
  background: alpha(@tertiary, 0.6);
}

#workspaces button.active {
  background: @primary;
  min-width: 24px;
}

#workspaces button:hover {
  background: @primary;
  box-shadow: none;
}

#cava {
  color: @primary;
  font-size: 6px;
  letter-spacing: 1px;
}
