@import "colors.css";

/* ===================== GLOBAL ===================== */
* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font Propo", "Material Icons";
  transition: background-color 0.3s ease-out;
  font-weight: 900;
}

/* ===================== BAR ===================== */
window#waybar {
  background: transparent;
  color: alpha(@on_surface, 0.8);
  transition: background-color 0.5s;
  font-size: 12px;
}

#waybar > box {
  background-color: alpha(@background, 0.6);
  transition-property: background-color;
  transition-duration: 0.5s;
  margin: 10px 20px 0 20px;
  border-radius: 15px;
}

/* ===================== MODULE CONTAINERS ===================== */
.modules-left,
.modules-center,
.modules-right {
  margin: 0px;
  padding: 2px 4px;
  border-radius: 12px;
}

.modules-left {
  border-radius: 0 12px 12px 0;
  padding-left: 6px;
}

.modules-center {
  background: transparent;
  border-radius: 12px;
  padding: 0 10px;
}

.modules-right {
  border-radius: 12px 0 0 12px;
  padding-right: 6px;
}

/* ===================== COMMON MODULES ===================== */
#cava,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#language,
#mpd {
  padding: 0 8px;
  border-radius: 12px;
  color: alpha(@on_surface, 0.8);
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#tray:hover,
#mode:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#power-profiles-daemon:hover,
#language:hover,
#mpd:hover {
  background: @primary_container;
  color: @on_primary_container;
}

/* ===================== WORKSPACES (FIXED CORE) ===================== */
#workspaces {
  min-width: 100px;
  border-radius: 99px;
  padding: 4px 4px;
  margin: 10px 0px;
  font-size: 0.2rem;
}

#workspaces button {
  background: alpha(@primary, 0.4);
  color: @on_primary;
  border: none;
  border-radius: 99px;

  padding: 0px 8px;
  margin: 0px 2px;

  min-width: 8px;
  transition: all 0.3s;
}

#workspaces button:not(.empty) {
  background: alpha(@tertiary, 0.8);
}

#workspaces button.active {
  background: @primary;
  min-width: 24px;
}

#workspaces button:hover {
  background: @surface_container_highest;
  box-shadow: none;
}

/* ===================== ARCH ICON ===================== */
#custom-arch {
  margin-left: 5px;
  padding: 0 8px;
  font-size: 16px;
  transition: color 0.5s;
  color: @primary;
}

#custom-arch:hover {
  color: @inverse_primary;
}

/* ===================== CAVA ===================== */
#cava {
  color: @primary;
  font-size: 10px;
  margin: 0;
  letter-spacing: 1px;
}
